<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <title>プロジェクト</title>
</head>
<body>
<main layout:fragment="content">
  <header th:replace="~{fragment/fragment :: header('プロジェクト')}"></header>
  <nav th:replace="~{fragment/fragment :: projectListAdjustLevel(${projectList.size()})}"></nav>
  <div th:replace="~{fragment/fragment :: projectListComponent(${projectList})}"></div>
</main>
</body>
</html>
