<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>会員登録ページ</title>
</head>
<body>
<main layout:fragment="content">
    <header th:replace="fragment/fragment :: header('会員登録')"></header>
    <div class="container">
        <div class="section box">
            <form th:action="@{/member/join}" th:object="${memberForm}" method="POST">

                <div class="field">
                    <label class="label" for="username">
                        <strong>ID</strong>
                        <small>(必須)</small>
                    </label>
                    <div class="control">
                        <input th:field="*{username}" class="input" id="username" type="text" placeholder="IDを入力してください" />
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="password">
                        <strong>パスワード</strong>
                        <small>(必須)</small>
                    </label>
                    <div class="control">
                        <input th:field="*{password}" class="input" id="password" type="password" placeholder="パスワードを入力してください" />
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="passwordConfirm">
                        <strong>パスワード再確認</strong>
                        <small>(必須)</small>
                    </label>
                    <div class="control">
                        <input th:field="*{passwordConfirm}" class="input" id="passwordConfirm" type="password" placeholder="確認のために、パスワードを再度入力してください" />
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="nickname">
                        <strong>お名前</strong>
                        <small>(必須)</small>
                    </label>
                    <div class="control">
                        <input th:field="*{nickname}" class="input" id="nickname" type="text" placeholder="お名前を入力してください" />
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="email">メールアドレス</label>
                    <div class="control">
                        <input th:field="*{email}" class="input" id="email" type="email" placeholder="メールアドレスを入力してください" />
                    </div>
                </div>

                <button type="submit" class="button is-primary">会員登録</button>

            </form>
        </div>
    </div>
</main>
</body>
</html>
