<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>ログインページ</title>
</head>
<body>
<main layout:fragment="content">
    <header th:replace="fragment/fragment :: header('ログイン')"></header>
    <div class="container">
        <div class="section box">
            <form th:action="@{/login}" th:object="${loginForm}" method="POST">

                <div class="field">
                    <label class="label">ID</label>
                    <div class="control">
                        <input th:field="*{username}" class="input" type="text" placeholder="IDを入力してください" />
                    </div>
                </div>

                <div class="field">
                    <label class="label">パスワード</label>
                    <div class="control">
                        <input th:field="*{password}" class="input" type="password" placeholder="パスワードを入力してください" />
                    </div>
                </div>

                <button class="button is-primary">ログイン</button>

            </form>
        </div>
    </div>
</main>
</body>
</html>
